{% extends "base.html" %}
{% block content %}
<section class="git-log-section">
  <p class="git-log-cmd">$ git log --oneline --all</p>
  <div class="git-log">
    {% for post in posts %}
      <a class="git-log-entry" href="{{ url_for('post_detail', slug=post.slug) }}">
        <span class="git-hash">{{ post.slug[:7] }}</span>
        <span class="git-msg">{{ post.meta.title }}</span>
        <span class="git-date">({{ post.meta.date }})</span>
      </a>
    {% endfor %}
  </div>
</section>
{% endblock %}
